<p>
  <strong>Assignment:</strong>
  <%= @grade.assignment.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student.name %>
</p>

<div >
  <%= link_to 'Edit', edit_grade_path(@grade) %>
  <%= link_to 'View All Grades', grades_path %>
  <%= link_to 'Home', root_path %>
</div>
