<h1>Login</h1>

<%= form_tag do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login"%>
<% end %>

<!-- <div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Gradebook</h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>
		</div>
	</div>
</div> -->
