<%= form_for @assignment, url: update_grades_assignment_path(@assignment), remote: true do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :grades do |ff| %>
    <div>
      <span><%= ff.object.student.name %></span>
      <span><%= ff.number_field :score, value: ff.object.score %></span>
    </div></br>
  <% end %>

  <%= f.submit "Submit Grades", id: "submit-change-grades"%>

<% end %>

<tr>
  <td>Class Average</td>
  <td id="average"><%= @assignment.average %></td>
</tr>
