<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Grades:</strong>
  <% @student.grades.each do |g| %>
    <%= g.score %> <%= link_to "Pdf", "#{g.upload_pdf}" %>
  <% end %>
</p>



<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_student_path(@student) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'View Roster', students_path %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Home', root_path %></button>
</div>
