<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @teacher.password_digest %>
</p>


<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'View All Teachers', teachers_path %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_teacher_path(@teacher) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Home', root_path %></button>
</div>
