
<div class="app-form">
  <p>
    <strong>Name:</strong>
    <%= @parent.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @parent.email %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= @parent.student_id %>
  </p>

  <div >
    <%= link_to 'Edit', edit_parent_path(@parent) %>
    <%= link_to 'View All Parents', parents_path %>
    <%= link_to 'Home', root_path %>
  </div>
</div>
